<div class="container">
    <div class="col-md-12">
        <h2>Lista de Clientes</h2>
        <button type="button" class="btn btn-primary mr-2 my-2" routerLink="/">Inicio </button>
      <button type="button" class="btn btn-primary mr-2 my-2" routerLink="/clientes/crear">Crear Cliente </button>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Identificacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clientList">
                <th scope="row">{{client.identificacion}}</th>
                <td>{{client.nombre}}</td>
                <td>{{client.apellido}}</td>
                <td><button type="button" class="btn btn-primary mr-2 my-2" (click)="edit(client.id)">Editar</button>
                  <button type="button" class="btn btn-primary mr-2 my-2" (click)="delete(client.id)">Eliminar</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>