<div class="container">
    <div class="col-md-3">
      <p></p>
    </div>
    <div class="col-md-6 mx-auto" style="width: 600px;">
      <h2 class="text-center">Empresa de energia Eléctrica</h2>
      <h3 class="text-center">Bienvenidos!</h3>
    </div>
    <div class="col-md-3">
      <p></p>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12 text-center">
      <a type="button" class="btn btn-primary mr-2" href="/clientes">Clientes </a>
      <a type="button" class="btn btn-primary mr-2" href="/facturas">Facturas </a>
      <a type="button" class="btn btn-primary mr-2" href="/pagos">Pagos </a>
      <a type="button" class="btn btn-primary mr-2" href="/facturas/check">Clientes + Facturas </a>
      <a type="button" class="btn btn-primary mr-2" href="/facturas/record">Historial consumo</a>
    </div>
  </div>